<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utilities.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Utilities.Settings>
            <setting name="FilesDir" serializeAs="String">
                <value>Files</value>
            </setting>
        </Utilities.Settings>
    </userSettings>
    <applicationSettings>
        <Utilities.Settings>
            <setting name="PreferencesFileName" serializeAs="String">
                <value>preferences.txt</value>
            </setting>
            <setting name="WomenLeagueApiUrl" serializeAs="String">
                <value>https://worldcup.sfg.io/</value>
            </setting>
            <setting name="MenLeagueApiUrl" serializeAs="String">
                <value>https://world-cup-json-2018.herokuapp.com/</value>
            </setting>
        </Utilities.Settings>
    </applicationSettings>
</configuration>